@font-face {
  font-family: 'kemco';
  src: url('/src/fonts/kemco.ttf');
}
@font-face {
  font-family: 'balgin';
  src: url('/src/fonts/balgin.ttf');
}
@font-face {
  font-family: 'balgin-light';
  src: url('/src/fonts/balgin-light.ttf');
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: 'kemco', serif;
  background: #111;
  color: #fff;
  text-align: center;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0); 
  backdrop-filter: blur(0px);
  z-index: 1000; 
}


.navbar .logo img {
  height: 50px;
}

.social-links a {
  color: #00ffcc;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.social-links a:hover {
  color: #ffcc00;
}


.hero {
  background-image: url(img/background.png);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px #000;
  background-color: white;
}

@media screen and (max-width: 1400px) {
  .hero{
    background-size: cover;
  }
}

.hero h1 {
  font-size: 50px;
}

.connect-btn,
.mint-btn {
  background: #ffc20e;
  color: #ff0b0b;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  margin-top: 20px;
  box-shadow: 2px 2px 0px #c49512; 
}

.connect-btn:hover,
.mint-btn:hover {
  background: #ffc20e;
  box-shadow: 1px 1px 0px #c49512;
  transform: translate(1px, 1px);
}


.roadmap, .minting {
  padding: 50px 20px;
  background: #ffffff;
  margin: 0;

}

.minting {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.minting h2 {
  color: #000;
}


.roadmap ul {
  list-style: none;
  padding: 0;
}

.roadmap li {
  background: #222;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.roadmap h2 {
  color: #000;
}


.mint-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}



.about {
  padding: 50px;
  background-color: white; 
  color: black;
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.about-text {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.about-text p {
  font-family: 'helvetica', sans-serif;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 100%;
  max-width: 500px; 
  height: auto;
  image-rendering: pixelated; 
}



.input-group input {
  padding: 10px;
  font-size: 1rem;
}

.mint-section button {
  background: #ffc20e;
  color: #ed1c24;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.error {
  color: red;
}

.success {
  color: lime;
}


.footer {
  background: #222;
  padding: 10px;
}

@media only screen and (max-width: 770px) {
  .social-links a {
    display: none !important;
  }
  nav.navbar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
 
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}

.container h1 {
  color: #4a148c;
}

.side-bar1 {
  padding: 10px;
  color: white;
  font-family: 'kemco', sans-serif;
  background: #ffc20e;
}

.connect-btn {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-family: 'kemco', sans-serif;
  background: #ffc20e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mint-section {
  margin-top: 2rem;
}

.input-group {
  margin: 1rem 0;
  font-family: 'kemco', sans-serif;
}

input {
  padding: 0.8rem;
  margin-right: 1rem;
  width: 200px;
  font-family: 'kemco', sans-serif;
}

button {
  padding: 0.8rem 1.5rem;
  background: #ffc20e;
  color: #ed1c24;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'kemco', sans-serif;
}

button:disabled {
  background: #cccccc;
}

.cost {
  font-size: 1.2rem;
  color: white;
}

.error {
  color: #ff0000;
  margin-top: 1rem;
}

.success {
  color: #4CAF50;
  margin-top: 1rem;
}

.discord {
  color:#3949ab !important;
}

.inst {
  color:#3949ab !important;
}

.twit {
  color:#3949ab !important;
}
